# IDE settings
.vscode
.idea

# Python compile
__pycache__/
*.pyc

# Egg
*.egg-info

# Company excel mock
company_excel_mock/*

# Virtual environment
.venv/

# Environment variables
.env

# Ignore mocks
*_mock*

# Logs
logs/

# Ruff
.ruff_cache/

# Project-specifics
scripts/import.py
app/cache/*
