/* Main Style Definitions */
html{
    background-color: var(--html-background-color);
    font-family: var(--font);
    color: #e8e8e8;
    font-size: 1vw;
    display: relative;
}

/* WIDGETS CONTAINER */
#widgets-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Histogram */
.histogram .main-svg {
    border-radius: 3px;
    overflow: hidden;
}

/* Team Commitment Histogram */
#histogram-commitment-container {
    padding-right: 1vw;
    padding-left: 1vw;
}
#histogram-commitment {
    margin-top: 1vw;
    padding-right: .5vw;
    padding-left: .5vw;
}
