/* main.css */
:root {
    --font: "Open Sans";
    --html-background-color: rgb(185, 242, 166);
    --card-background-color: #21272A;
    --card-color: white;
    --title-hover-color:  rgb(93, 255, 103);
}

#main-div {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* adds spacing between child divs */
    align-items: flex-start; /* or center, or stretch */
}