/* Histogram Commitment Tabs*/
#tabs-container {
    color: black;
    border-left: 1vw;
    border-right: 1vw;
    height: fit-content;
}
.tab {
    height: fit-content;
}
.tabs {
    border-left: .5vw;
    border-right: .5vw;
    margin-right: .5vw;
    margin-left: .5vw;
    border-radius: 5px;
    height: fit-content;
    padding: 10px;
}
.tabs:hover {
    box-shadow: 2px 2px 20px rgba(17, 169, 27, 1);
    background-color: #e6e6e6;
    border-color: #7dd100;    color: #575756;
    outline: 2px solid #52ba0d;
}
.tabs--selected {
    box-shadow: 2px 2px 20px rgba(17, 169, 27, 1);
    background-color: #e6e6e6;
    border-color: #7dd100;    color: #575756;
    outline: 2px solid #52ba0d;   
    font-style: bold;
}