/* main.css */
:root {
    --font: "Open Sans";
    --html-background-color: rgb(185, 242, 166);
    --card-background-color: #21272A;

    --card-color: white;
    --title-hover-color:  rgb(93, 255, 103);
}