html{
    background-color: #21272A;
    font-family: "Open Sans";
    color: #e8e8e8;
    font-size: 1vw;
}

#title{
    width: 100vw;
    text-align: center;
    height: fit-content;
    margin: 0px;
    color: white;
}
#subtitle{
    width: 100vw;
    height: fit-content;
    text-align: center;
    margin: 0px;
}
#date-picker{
    width: 100%;
    padding-top: 1%;
    text-align: center;
}
.DateInput_input{
    padding: 0px;
    text-align: center;
}
#dropdown-container-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}
.dropdown-container{
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}
.dropdown-title{
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.dropdown-list{
    color: #272727;
}
#histogram{
    width: 100%;
    height: 300px;
}


/* Update area */
#update-area{
    width: fit-content;
    height: fit-content;
}
#progress-text{
    text-align: center;
    font-size: 1vw;
}
/* Update button */
#update-button{
    width: 100%;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
}
#update-button:hover {
    box-shadow: 2px 2px 20px rgba(17, 169, 27, 1); /* #575756ff */
    background-color: #e6e6e6;
    border-color: #7dd100; /* Change border color on hover */
    color: #575756; /* Change text color on hover */
    outline: 2px solid #52ba0d; /* Add outline on hover */
}


/* Histogram Commitment */
#histogram-commitment-container {
    padding-right: 1vw;
    padding-left: 1vw;
}
#histogram-commitment {
    margin-top: 20px;
}
#histogram-commitment-title {
    text-align: center;
}

/* Histogram Commitment Tabs*/
#tabs-container {
    color: black;
}
.tabs {
    border-left: 1vw;
    border-right: 1vw;
    margin-right: 1vw;
}
.tabs:hover {
    box-shadow: 2px 2px 20px rgba(17, 169, 27, 1); /* #575756ff */
    background-color: #e6e6e6;
    border-color: #7dd100; /* Change border color on hover */
    color: #575756; /* Change text color on hover */
    outline: 2px solid #52ba0d; /* Add outline on hover */   
}
.tabs--selected {
    box-shadow: 2px 2px 20px rgba(17, 169, 27, 1); /* #575756ff */
    background-color: #e6e6e6;
    border-color: #7dd100; /* Change border color on hover */
    color: #575756; /* Change text color on hover */
    outline: 2px solid #52ba0d; /* Add outline on hover */   
}