html{
    background-color: #21272A;
    font-family: "Open Sans";
    color: #e8e8e8;
}

#title{
    width: 100vw;
    text-align: center;
    height: fit-content;
    margin: 0px;
    color: white;
}
#subtitle{
    width: 100vw;
    height: fit-content;
    text-align: center;
    margin: 0px;
}
#date-picker{
    width: 100%;
    padding: 1%;
    text-align: center;
}
.DateInput_input{
    padding: 0px;
    text-align: center;
}
#dropdown-container-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    padding: 1%;
}
.dropdown-container{
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}
.dropdown-title{
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.dropdown-list{
    color: #272727;
}
#histogram{
    width: 100%;
    height: 300px;
}
/* Update area */
#update-area{
    width: fit-content;
    height: fit-content;
}
#progress-text{
    text-align: center;
    font-size: 8px;
}
